{% extends "base.html" %}

{% block content %}

<h2 class="sub-header">Bambini</h2>

<div class="table-responsive">
    <table id="" class="table table-striped table-bordered display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Data nascita</th>
            <th>Sesso</th>
            <th>Madre</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Nome</th>
            <th>Data nascita</th>
            <th>Sesso</th>
            <th>Madre</th>
        </tr>
        </tfoot>

        <tbody>
        {% for child in object_list %}
        <tr>
            <td>{{ child.get_name }}</td>
            <td>{{ child.get_date_of_birth }}</td>
            <td>{{ child.get_sex }}</td>
            <td>{{ child.get_mother }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}