{% extends "base.html" %}

{% block ng_controller %}ListCtrl{% endblock %}

{% block content %}
{% verbatim %}

<h2 class="sub-header">Donazioni</h2>

<div class="table-responsive">
    <table id="" class="table table-striped table-bordered display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Data</th>
            <th>Richiesto</th>
            <th>Offerto</th>
            <th>Importo</th>
            <th>Madre</th>
            <th>Operatore</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Data</th>
            <th>Richiesto</th>
            <th>Offerto</th>
            <th>Importo</th>
            <th>Madre</th>
            <th>Operatore</th>
        </tr>
        </tfoot>

        <tbody>
        <tr ng-repeat="donation in items">
            <td>{{ donation.date_of_donation }}</td>
            <td>{{ donation.requested }}</td>
            <td>{{ donation.given }}</td>
            <td>{{ donation.amount }}</td>
            <td>{{ donation.mother }}</td>
            <td>{{ donation.operator }}</td>
        </tr>
        </tbody>
    </table>
</div>

{% endverbatim %}
{% endblock %}
